html, body, table {
    margin: 0;
    padding: 0;
    border-spacing: 0;
    border-collapse: collapse;
}
td{
    margin:0;
    padding:0;
}
body {
    color: #333333;
    margin: 0px;
    padding: 0px;
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    background: url(../Pictures/bg_body.jpg) top center;
}
.masterTable {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    width: 100%;
    border-collapse: collapse;
    table-layout: fixed;
}
.headerContents{
    height: 53px;
}
.masterHeader, .header, .headerTable, .headerContents{
    width: 100%;
}
.masterHeader {
    position: relative;
    top: 0px;
    background-color: #315b01;
    background: url(../Pictures/header_background.png) repeat-x left top;
    background-size: contain;
}
.masterMenu {
    background: url(../Pictures/menu_background.png) repeat-x left top;
    background-size: contain;
}
.headerTable{
    width:100%;
    border-collapse: collapse;
}
.empty{
    width: 50%;
}
.empty2{
    width: 150px;
}
h1 {
    font-family: "Times New Roman", Times, serif;
    font-size: 27px;
    font-style: italic;
    margin: 0px;
    color: #9AC503;
    font-weight: normal;
    letter-spacing: 1px;
    text-decoration:none;
}
h2 {
    width: 590px;
    color: #519206;
    font-size: 14px;
    padding: 20px 0px 30px 20px;
    bottom:70px;
    background: url(../Pictures/gallery_bottom.jpg) no-repeat center bottom;
    margin-bottom: 0;
}
.galleryTopLine {
    display: block;
    width: 100%;
    height: 1%;
    background: url(../Pictures/gallery_bottom.jpg) no-repeat center bottom;
}
.menu {
    width: 100%;
    float: none !important;
    justify-content: center;
}
.menu li {
    position:relative;
    display: inline-block;
    border-left: #000000 solid 1px;
    border-right: #414040 solid 1px;
    width:auto;
}
.menuItems {
    display:block;
    color: #C5CCC3;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 8px;
}
.menuItemsDynamic {
    background: url(../Pictures/menu_background.png) repeat-x left top;
    background-size: contain;
    display: block;
    color: #C5CCC3;
    text-decoration: none;
    font-size: 13px;
    text-align: center;
    cursor: pointer;
    width: 100%;
    height: 100%;
    padding: 8px;
}
.menu li ul{
    width:100%;
    position: absolute;
}
.menu li:hover .menuItemsDynamic:hover{
    color: #0D4706 !important;
    text-decoration: none;
    background: url(../Pictures/bg_top_buton.jpg) repeat-x top center;
}
.menuItems:hover {
    color: #0D4706;
    text-decoration: none;
}
.menu li:hover > .menuItems {
    color: #0D4706 !important;
    background: url(../Pictures/bg_top_buton.jpg) repeat-x top center !important;
}
#MenuNav ul.level1.static {
    width: 25% !important;
    margin: 0 41%;
    
}
#MenuNav a.static {
    padding-left: 20px !important;
    padding-right: 20px !important;
}
.slideshow-container {
    position: relative;
    margin: auto;
    height: 214px;
}
.mySlides {
    display: none;
    
}
.next {
    right: 0;
    border-radius: 3px 0 0 3px;
}
.text {
    color: #f2f2f2;
    background-color: rgba(0, 0, 0, 0.5);
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18pt;
    position: absolute;
    padding: 8px 0px 0px 0px;
    bottom: 1px;
    width: 100%;
    text-align: left;
}
.smallText {
    font-size: 11pt;
}
.fade {
    animation-name: fade;
    animation-duration: 4s;
}

@keyframes fade {
    from {
        opacity: .4
    }

    to {
        opacity: 1
    }
}
.razredi {
    width: 100%;
    min-width: 100%;
    height: 21px;
    color: #FFFFFF;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    letter-spacing: 1px;
    padding: 8px 0px 23px 0px;
    margin: 8% 0% 1%;
    background: url(../Pictures/razredi_background.jpg) no-repeat center bottom;
}
.typesBirds {
    color: #3E8702;
    font-size: 13px;
    text-align: right;
    padding: 1% 0% 1% 1%;
    background: url(../Pictures/list_line.jpg) no-repeat right bottom;
    background-size: cover;
}
    .typesBirds:hover {
        color: #FF9900;
        background: url(../Pictures/list_line.jpg) no-repeat right top;
        background-size: cover;
    }
.typesBirdsHover {
    color: #FF9900;
}
.typesBirdsMenu {
    width: 100%;
    text-align: right;
    float: none;
}
.awards {
    width: 100%;
    min-width: 100%;
    height: 21px;
    font-weight: bold;
    color: #FFFFFF;
    text-align: center;
    font-size: 13px;
    text-transform: uppercase;
    padding: 8px 0px 20px 0px;
    margin: 16px 0px 0px 0px;
    background: url(../Pictures/backAdvLeft-Top.jpg) no-repeat left top;
    background-size: cover;
}
.awardText {
    width: 168px;
    font-size: 12px;
    text-align: center;
    display: block;
    margin: 0px auto 16px auto;
}
.awardTextYear {
    width: 168px;
    font-size: 12px;
    text-align: center;
    display: block;
    margin: 140px auto 16px auto;
}
.advPanel {
    display:block;
    width: 100%;
    text-align: center;
    background: url(../Pictures/backAdvRight.jpg) repeat-y left top;
    
}
.advText {
    color: #519206;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
}
.advText:hover {
    color: #FF9900;
}
.advTextOut {
    width: 100%;
    color: #519206;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    padding: 4% 0% 0% 0%;
    background: url(../Pictures/backAdvRight-Top.jpg) no-repeat left top;
}
.footerText {
    font-size: 10px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color:#999999;
}
.galleryBottomLine {
    display:block;
    width: 100%;
    height:1.5%;
    background: url(../Pictures/gallery_top.jpg) no-repeat center top;
}
.articleIndex {
    text-align: left;
    padding: 2% 0% 1% 1%;
    margin-bottom: 10px;
    margin: 0% 2%;
    display: block;
    background: url(../Pictures/bg_tabed.jpg) repeat-x left center;
    color: black;
}
.articleImage {
    display:block;
    border: 1px solid #CACCCD;
    padding: 1px;
    margin-top:5px;
    background: #FFFFFF;
    cursor: pointer;
}
.articleParagraph {
    font-size: 13px;
    font-family: Verdana, Arial, Helvetica, sans-serif;
    padding-left:2%;
    text-align:justify;
}
.articleText {
    color: #519206;
    text-decoration: none !important;
}

.articleText:hover {
    color: #FF9900;
    cursor: pointer;
}
.articlePosition {
    text-decoration:none;
}
.gallery {
    text-align: center;
    height: 100%;
    margin-top: 6%;
    margin-bottom: 3%;
    padding: 1px;
    border: 1px solid #CACCCD;
    background: #FFFFFF;
    cursor: pointer;
}
.galleryText {
    color: #519206;
    text-align:center;
}
.galleryText:hover {
    color: #FF9900;
    cursor: pointer;
}
.birdsList{
    width:100%;
    display:block;
}
.birdsListText {
    text-align: left;
    padding: 0.5% 0%;
    display: block;
    background: url(../Pictures/bg_tabed.jpg) repeat-x left center;
    color: black;
    width:100%;
}
.birdsListText:hover, .newsListText:hover {
    color: #FF9900;
    cursor: pointer;
}
.birdsListTextHeader {
    text-align: left;
    padding: 0.5% 0%;
    display: block;
    background: url(../Pictures/bg_tabed.jpg) repeat-x left center;
    color: black;
    width: 100%;
}
.birdsList ul.level1.static {
    width: 100% !important;
}

.newsList {
    width: 100%;
    display: block;
    word-break: break-word !important;
    white-space: normal !important;
    margin: 0 auto;
}

.newsListText {
    text-align: left;
    padding: 0.4% 1%;
    width: 100%;
    display: block;
    background: url(../Pictures/bg_tabed.jpg) repeat-x left center;
    color: #666666;
    word-wrap:break-word;
    white-space: normal;
}
#MainContent_NewsList a {
    text-decoration: none;
    white-space: normal !important;
    display: block;
}

.newsList ul.level1.static {
    width: 100% !important;
}
.menuPages {
    margin-left: 30%;
}
.menuPagesText {
    color: #519206;
    text-align: center;
}
.menuPagesText:hover {
    color: #FF9900;
    cursor: pointer;
}
.menuPages ul li:nth-child(1) a,
.menuPages ul li:nth-child(2) a,
.menuPages ul li:nth-child(4) a,
.menuPages ul li:nth-child(6) a,
.menuPages ul li:nth-child(8) a,
.menuPages ul li:nth-child(10) a,
.menuPages ul li:nth-child(12) a,
.menuPages ul li:nth-child(14) a,
.menuPages ul li:nth-child(16) a,
.menuPages ul li:nth-child(18) a,
.menuPages ul li:nth-child(20) a {
    color: #333333;
    text-align: center;
}
.loginLinkText{
    padding:10px;
    text-decoration:underline !important;
}
.loginText {
    padding: 10px;
}
.loginButton {
    padding: 5px;
    background: url(../Pictures/login_button.jpg) no-repeat center top;
    background-size: cover;
    color: #9AC503;
}
.loginButtonForm {
    color: #333333;
    font-size: 11px;
    font-weight: bold;
    background: #F6F6F6;
    border: 1px solid #999999;
}
.loginButtonForm:hover {
    color: #FFE382;
    font-size: 11px;
    background: #6B8B20;
    font-weight: bold;
    border: 1px solid #666666;
}
.error {
    color:#E2161C;
    font-weight: bold;
}
.success {
    color: #519206 !important;
    font-weight:bold;
}